@import url("https://fonts.googleapis.com/css2?family=Domine&family=Montserrat&display=swap");
:root {
  --dark: #000;
  --white: #fff;
  --main: #1c3f66;
  --light-dark: #333;
  --darkest: #001e38;
  --light-blue: #272b65;
  --pink-color: #f3e2e4;
  --darkpink-color: #c4a7b8;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  max-width: 1600px;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none !important;
  color: inherit;
}
html,
body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
h2,
.enrol-par {
  font-family: "Domine", serif;
}
/* Top Nav */
.nav-one {
  text-align: end;
  padding: 5px 34px;
}

.nav-one a {
  color: #1b71d4;
  font-size: 12px;
}
.sepreate {
  color: var(--light-dark);
}

/* Middle Nav */
.nav-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.nav-two .logo img {
  height: 41px;
  width: 168px;
}
.nav-two ul {
  display: flex;
}

.search {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  max-width: 450px;
  border: 2px solid gray;
  background: orangered;
}
.search input {
  width: 92%;
  height: 100%;
  border: none;
  outline: none;
}
.btn-search {
  background: none;
  border: none;
  cursor: pointer;
  margin: auto;
}

.recent-one {
  display: flex;
  align-items: center;
}
.recent-one li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  color: var(--light-dark);
  font-size: 25px;
}
.recent-one li:hover {
  color: orangered;
}
.recent-one p {
  font-size: 12px;
}

/* Main Navbar */
 nav {
      background: var(--darkest);
      width: 100%;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    .menu-toggle {
      display: none;
      font-size: 24px;
      background: none;
      border: none;
      color: var(--white);
      cursor: pointer;
    }

    .navbar-list-wrapper {
      max-width: 100%;
    }

    .navbar-list {
      display: flex;
      gap: 20px;
      font-size: 12px;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .navbar a {
      color: var(--white);
      text-decoration: none;
    }

    .navbar li {
      display: inline-block;
    }

    .offer a {
      color: var(--white);
      font-weight: bold;
      text-decoration: none;
    }
/* video section */
.video-section {
  margin-top: 0 !important;
  position: relative;
}
.video-section video {
  width: 100%;
  height: 85vh;
  object-fit: cover;
}
.video-section .video-heading img {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 600px;
  width: 100%;
  width: 50%;
  z-index: 2;
}
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgb(255, 255, 255) 0%,
    /* semi-transparent dark at top */ rgba(0, 0, 0, 0.1) 70%,
    /* lighter at bottom */ rgba(0, 0, 0, 0) 100% /* transparent at end */
  );
  pointer-events: none; /* allows clicks to pass through */
  z-index: 1; /* layered above background but below content */
}
/* end */
/*------------------ types-------------------- */
.variety {
  margin-top: 50px;
}
.variety .menu-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  box-sizing: border-box;
  padding: 10px 20px 0;
}
.variety .menu-wrap .menu-item {
  transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1); /* Smooth transition */
  transform: translateX(0); /* Initial position */
}
.variety .menu-wrap .menu-item a:hover .image-wrap {
  box-shadow: 0px 0px 10px 0px rgba(221, 197, 197, 0.7);
}
.variety .menu-wrap .menu-item .image-wrap {
  background: #fff8f9;
  border-radius: 24px;
  box-shadow: 2px 2px 5px 0px rgba(221, 197, 197, 0.25);
  border: 0.3px solid rgba(221, 197, 197, 0.5);
  transition: all 0.5s ease;
}
.variety .menu-wrap .menu-item .image-wrap img {
  margin: 0 auto;
  max-width: 160px;
}
.variety .menu-wrap .menu-item .title {
  color: #bfb9bd;
  font-size: 14px;
  line-height: 16px;
  margin: 10px 0 0 0;
  text-align: center;
}

/* end */
/* ------------enroll---------- */
.enroll {
  border: 2px solid #fea1ab;
  margin-top: 60px;
  margin-bottom: 40px;
  background-color: rgb(255, 248, 249);
}
.enrol-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 12px;
  letter-spacing: 0.5px;
  font-size: 12px;
}
.enrol-link .enrol-btn {
  border: 2px solid #fea1ab;
  padding: 4px 24px;
  border-radius: 4px;
  background: #f6c3cb;
}
.enrol-link .enrol-par {
  font-size: 18px;
}
/* -------------------barbie section------------------ */
.barbies {
  padding: 20px;
  width: 100%;
}
.barbies-section {
  display: flex;
  align-items: end;
  gap: 20px;
}
.barbies img {
  width: 100%;
  max-width: 480px;
  height: 350px;
  border-radius: 10px;
}
.barbies-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.barbies-one .Browse {
  padding: 10px 55px;
  font-size: 20px;
  border-radius: 5px;
  color: var(--darkpink-color);
  background-color: #f3e2e4;
  border: none;
  cursor: pointer;
}
/* ------------gift section------- */
.gift-section {
  padding: 20px;
  /* background-color: aquamarine; */
}
.gift-div {
  display: flex;
  border-top: 2px solid var(--pink-color);
  /* background-color: aqua; */
  align-items: end;
}
.gift {
  display: flex;
  gap: 20px;
  border-right: 2px solid var(--pink-color);
  padding: 60px 20px 0px 0px;
}
.gift-info {
  display: flex;
  padding: 10px;
  flex-direction: column;
  width: 230px;
  height: 350px;
  border-radius: 15px;
  line-height: 1.2;
  background-color: var(--pink-color);
}
.gift-info img {
  border-radius: 10px;
}
.gift-info h2 {
  color: var(--light-dark);
  font-size: 20px;
  padding-top: 20px;
  text-decoration: underline;
}
.gift-info p {
  color: var(--light-dark);
  font-size: 13px;
  padding-top: 10px;
}
.gift-rate {
  height: 100%;
  width: 100%;
}
.gift-rate-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 60px 0px 0px 20px;
}
.heart img {
  height: 325px;
  width: 100px;
}
.gift-coupon {
  text-align: center;
  background-color: #9e7792;
  height: 300px;
  width: 1000%;
  border-radius: 24px;
  padding: 10px;
}
.gift-coupon-one {
  border: 2px dashed var(--darkpink-color);
  border-radius: 18px;
  height: 100%;
}
.gift-coupon-heading img {
  height: 100px;
  width: 400px;
  padding-top: 20px;
}
.gift-price-list {
  display: flex;
  justify-content: center;
}
.gift-price-list img {
  padding-top: 20px;
  height: 180px;
  width: 150px;
}
/* -----cut-banner---- */
.cut-banner img {
  padding-top: 30px;
  width: 100%;
  height: 100%;
}
/* -----modeal-section */
.model-section h2 {
  margin-top: 20px;
  text-align: center;
  font-family: Domine, serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  color: #032c5e;
}
.model-jewellery-type {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  position: relative;
}
.model-jewellery-type .model img {
  padding: 0px 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}
.model-jewellery-type .model-neckless {
  /* position: absolute; */
  text-align: center;
}
.model-jewellery-type .model-neckless img {
  width: 35%;
  height: 35%;
  margin-top: -40px;
  box-shadow: 3px 3px 3px rgb(101, 101, 101);
  border-radius: 24px;
}
.model-neckless h3 {
  font-size: 14px;
  color: var(--light-dark);
  font-weight: normal;
  padding: 10px;
}
/* -------stock------- */
.stock {
  width: 100%;
  display: flex;
  padding: 0px 20px;
  margin-top: 60px;
}
.stock video {
  width: 50%;
  height: auto;
  border: 4px solid #8d0000;
  border-radius: 8px;
}
.stock-container {
  width: 50%;
  position: relative;
  z-index: -1;
}
.stock-container .stock-img img {
  position: absolute;
  width: 140%;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* ---------gold-------- */
.gold {
  margin-top: 60px;
  width: 100%;
}
.gold img {
  width: 100%;
}
/* --------------reel-section--------- */
.h-section {
  margin-top: 60px;
  overflow: hidden;
}
.reels-section .reels-swiper {
  overflow: hidden;
  overflow-x: auto;
}
.reels-section .reels-swiper .swiper-wrapper {
  display: grid;
  grid-auto-flow: column;
  transition: transform 3s cubic-bezier(0.4, 0, 0.2, 1);
}
.reels-section .reels-swiper .swiper-wrapper .short-video {
  width: 210px;
  margin: 0 3px;
}
.reels-section .reels-swiper .swiper-wrapper .short-video .caption {
  color: #acacac;
}
.reels-section .reels-swiper .swiper-wrapper .short-video a {
  display: block;
  width: 100%;
  height: calc(100% - 19px);
  background: #9d7792;
  border: 2px solid #9d7792;
  border-radius: 5px;
  line-height: 0;
}
.reels-section .reels-swiper .swiper-wrapper .short-video video {
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
/* ---------------customer-------- */
.clip-cards-section {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.clip-cards-wrap {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.clip-cards-wrap::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.line-div {
  position: absolute;
}
.line-div img {
  width: 100%;
}
.h-title {
  color: #032c5e;
  text-align: center;
}
.clip-cards-wrap {
  margin: 0;
  overflow: hidden;
  overflow-x: auto;
}
.clip-card-inner {
  transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(-50%);
  display: flex;
  padding: 0;
}
.clip-card-line {
  padding: 55px 40px 25px;
  box-sizing: border-box;
  position: relative;
}
.border-line {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 30px;
  background-image: var(--pattern-img);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="20"><path d="M0 10 C20 5, 40 15, 60 10 S80 5, 100 10 S120 15, 140 10 S160 5, 180 10 S200 15, 220 10" stroke="rgba(0,0,0,0.03)" stroke-width=".3" fill="none"/></svg>');
  background-repeat: repeat-x;
  background-size: 333% auto;
  background-position: 0;
}
.clip-card {
  padding: 5%;
  border-radius: 14px;
  background-color: #feeef1;
  width: 250px;
  transform: rotate(14deg);
}
.clip-cards {
  padding: 5%;
  border-radius: 14px;
  background-color: #feeef1;
  width: 250px;
  transform: rotate(-14deg);
}
.clip-cards .clip-card-image img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}
.clip-card .clip-card-image img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}
.clip-card .clip-card-title {
  color: #272b64;
  margin: 8px 0 5px 0;
  font-size: 16px;
}
.clip-card-desc {
  color: #acacac;
  font-size: 10px;
  line-height: 18px;
}
.clip img {
  width: 14%;
  position: absolute;
  top: -14px;
  left: var(--clip-position);
  transform: rotate(var(--clip-rotation));
}
.clips img {
  width: 14%;
  position: absolute;
  top: -14px;
  right:0;
  transform: rotate(var(--clip-rotation));
}
.clip-cards-section.animate .clip-card-inner {
  transform: translateX(0);
}
/* ------------edition------------ */
.edition {
  padding: 20px;
  text-align: center;
  font-size: 15px;
  color: var(--darkest);
}
.edition-grid {
  display: grid;
  padding-top: 10px;
  gap: 16px;
  grid-template-areas: var(--grid-layout);
}

.item1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.item2 {
  grid-column: 3;
  grid-row: 1;
}
.item3 {
  grid-column: 4;
  grid-row: 1;
}
.item4 {
  grid-column: 5;
  grid-row: 1;
}
.item5 {
  grid-column: 3;
  grid-row: 2;
}
.item6 {
  grid-column: 4;
  grid-row: 2;
}
.item7 {
  grid-column: 5;
  grid-row: 2;
}
.item14 {
  grid-column: 4 / 6;
  grid-row: 1 / 3;
}

.item8 {
  grid-column: 1;
  grid-row: 1;
}
.item9 {
  grid-column: 2;
  grid-row: 1;
}
.item10 {
  grid-column: 3;
  grid-row: 1;
}
.item11 {
  grid-column: 1;
  grid-row: 2;
}
.item12 {
  grid-column: 2;
  grid-row: 2;
}
.item13 {
  grid-column: 3;
  grid-row: 2;
}

.item {
  overflow: hidden; /* Ensures zoomed image does not overflow its div */
  border-radius: 10px; /* Match image border radius */
  cursor: pointer;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
  display: block;
}
.item:hover img {
  transform: scale(1.05); /* Zoom image inside its container */
}

/* ------------location-------------- */
.location {
  width: 100%;
  margin-top: 40px;
}
.location img {
  width: 100%;
}
/* ---------------promise---------- */
.promise-section {
  margin-top: 60px;
  width: 100%;
  background-color: #fff8f9;
}
.promise {
  padding: 20px;
  display: flex;
  width: 100%;
}
.promise-heading {
  width: 50%;
  position: relative;
}
.promise-heading img {
  width: 80%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.promise-all {
  width: 50%;
}
.promise-all-type {
  position: relative;
  left: 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 3fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  border: 1px solid #06234e;
  border-radius: 10px;
  padding: 15px 0;
  width: 80%;
}

.promise-all img {
  width: 60%;
  height: auto;
}
.promise-all p {
  font-size: 13px;
  line-height: 19px;
  margin: 0;
}
/* --------news----------- */
.news-section {
  padding: 60px 0px;
  text-align: center;
  background-color: #f6f6f6;
}
.news {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.news img {
  width: 100%;
}
.news-one {
  width: 14%;
  max-width: 230px;
  position: relative;
}
.news-front {
  background-color: #fff;
  padding: 30px 20px 80px;
  position: relative;
  text-align: center;
  box-shadow: 3px 0px 9px 3px rgba(108, 101, 101, 0.1294117647);
  z-index: 2;
  height: 260px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.news-front a {
  position: absolute;
  bottom: 30px;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  color: #6e6e70;
  font-size: 14px;
  border: 1px solid #646464;
  padding: 8px 20px;
}
.news-back img {
  position: absolute;
  top: 12px;
  right: -45px;
  transform: rotate(11.33deg);
  z-index: 1;
  height: 250px;
  width: 100%;
}

.news-section .view {
  padding: 20px 50px;
  border: 2px solid orangered;
  color: #8d0000;
  margin-top: 50px;
  font-size: 15px;
}
/* -------------footer------------------- */

.footer-top {
  width: 100%;
  padding-top: 30px;
  background: var(--light-blue);
}
.footer-top-column {
  display: flex;
  margin: 0 30px;
}
.footer-top-column-one {
  display: flex;
  gap: 50px;
  width: 65%;
}
.footer-column h4 {
  color: #9babc4;
  /* display: block; */
  padding-bottom: 3px;
  font-weight: 400;
  font-family: Muli, Arial, sans-serif;
  margin: 12px 0 15px;
  font-size: 14px;
  line-height: 20px;
}
.footer-column li {
  font-size: 13px;
  line-height: 19px;
  color: #9babc4;
}
.footer-top-column-two {
  width: 35%;
}
.footer-column-mobile {
  width: 100%;
  background-color: #1a204f;
  position: relative;
  height: 270px;
  color: #9babc4;
  padding: 24px 0 0 27px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.download {
  display: flex;
  flex-direction: column;
}
.download a img {
  width: 80px;
}
.footer-column-mobile h4 {
  position: static;
  color: #9babc4;
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 20px;
}
.footer-column-mobile p {
  padding-bottom: 7px;
  padding-left: 4px;
}
.phone-img {
  margin-top: -90%;
}
.phone-img img {
  width: 50%;
}
.footer-mid {
  width: 100%;
  height: 80px;
  background: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  letter-spacing: 1px;
  font-family: Muli, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
.email-section input {
  padding: 10px;
  width: 250px;
  background: transparent;
  color: var(--white);
}

.email-section button {
  padding: 10px 20px;
  border: none;
  background-color: #9babc4;
  color: var(--white);
  cursor: pointer;
}
.social a {
  font-size: 20px;
  color: #9babc4;
}
.payment i {
  color: #9babc4;
  font-size: 20px;
}
.copyright p {
  font-size: 12px;
  color: #9babc4;
}

.footer-end {
  background-color: var(--white);
}
.footer-end .searches {
  border-bottom: 0.6px solid #d4bfcb;
  margin: 30px 15px;
  padding: 0 0 30px 0;
}
.footer-end .searches h4 {
  font-size: 18px;
  line-height: 24px;
  color: #032c5e;
  font-weight: 700;
  padding-bottom: 10px;
}
.footer-end .searches a {
  display: inline-block;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #032c5e;
  white-space: nowrap;
}

/* --------responsive----------------- */

@media (max-width: 1024px) {
  .edition-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-areas: none;
  }

  .promise {
    flex-direction: column;
    align-items: center;
  }

  .promise-heading,
  .promise-all {
    width: 100%;
    text-align: center;
  }

  .promise-heading img {
    position: static;
    transform: none;
    width: 60%;
    margin: 0 auto;
  }
  .promise-all-type {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 0 auto;
  }

  .news {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .news-one {
    width: 40%;
  }

  .footer-top-column {
    flex-direction: column;
    gap: 30px;
  }
  .footer-top-column-one,
  .footer-top-column-two {
    width: 100%;
  }

  .footer-mid {
    flex-direction: column;
    height: auto;
    gap: 10px;
    padding: 20px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .nav-one {
    padding: 5px 16px;
    text-align: center;
  }

  .nav-two {
    flex-direction: column;
    gap: 5px;
  }

  .search {
    max-width: 100%;
    flex-direction: row;
  }

  .navbar {
        flex-direction: row;
        align-items: flex-start;
      }

      .menu-toggle {
        display: block;
        margin-bottom: 10px;
      }

      .navbar-list-wrapper {
        display: none;
        max-height: 300px;
        overflow-y: auto;
        scroll-behavior: smooth;
        width: 100%;
      }

      .navbar-list-wrapper.active {
        display: block;
      }

      .navbar-list {
        flex-direction: column;
        gap: 15px;
        padding-left: 0;
      }

      .navbar li {
        display: block;
      }

      .offer {
        margin-top: 10px;
      }

  .video-section video {
    height: auto;
  }

  .video-section .video-heading img {
    width: 80%;
    bottom: 30px;
  }

  .variety .menu-wrap {
    grid-template-columns: repeat(2, 1fr);
    
  }

  .enrol-link {
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }

  .barbies-section {
    flex-direction: column;
    align-items: center;
  }

  .gift-div {
    flex-direction: column;
    align-items: center;
  }

  .gift {
    flex-direction: column;
    border-right: none;
    padding: 20px 0;
  }

  .gift-info {
    width: 100%;
    height: auto;
  }

.gift-rate{
  display: none;
}


  .model-jewellery-type {
    flex-direction: column;
    gap: 20px;
  }
  .stock-container {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .stock-container .stock-img img {
    position: static;
    transform: none;
    width: 100%;
  }

  .reels-section .reels-swiper .swiper-wrapper {
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .clip-card-inner {
    flex-direction: column;
    transform: none;
  }

  .clip-card-line {
    padding: 20px;
  }
  .clip-card,
  .clip-cards {
    width: 100%;
    transform: none;
    margin-bottom: 20px;
  }

  .clip img {
    width: 20%;
    top: -10px;
  }

  .edition {
    font-size: 14px;
    padding: 15px;
  }

  .edition-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 12px;
  }

  .item img {
    height: auto;
  }


  .promise {
    flex-direction: column;
    align-items: center;
  }

  .promise-heading,
  .promise-all {
    width: 100%;
  }

  .promise-heading img {
    position: static;
    transform: none;
    width: 100%;
  }

  .promise-all-type {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 10px;
  }

  .news-one {
    width: 80%;
  }
.footer-column-mobile {
    flex-direction: column;
    height: auto;
    padding: 24px 16px;
    gap: 20px;
  }

  .phone-img {
    margin-top: 0;
    text-align: center;
  }

  .phone-img img {
    width: 80%;
  }

  .email-section input {
    width: 100%;
  }

  .footer-end .searches {
    margin: 20px 10px;
    padding-bottom: 20px;
  }
 .footer-end .searches a {
    font-size: 13px !important;
  }

}

/* 📱 Ultra Small Devices */
@media (max-width: 480px) {
  .nav-two .logo img {
    width: 120px;
    height: auto;
  }

  .enrol-link .enrol-par {
    font-size: 16px;
  }

  .barbies-one .Browse {
    font-size: 16px;
    padding: 8px 30px;
  }

  .gift-info h2 {
    font-size: 18px;
  }

  .gift-info p {
    font-size: 12px;
  }

  .model-section h2 {
    font-size: 20px;
  }

  .model-neckless h3 {
    font-size: 12px;
  }

  .clip-card-line {
    padding: 10px;
  }
   .clip-card-title {
    font-size: 14px;
  }

  .clip-card-desc {
    font-size: 9px;
    line-height: 16px;
  }
  .edition {
    font-size: 13px;
    padding: 10px;
  }

  .edition-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .item img {
    height: auto;
  }


  .promise-all p {
    font-size: 12px;
  }

  .news-front {
    padding: 20px 10px 60px;
    gap: 20px;
  }

  .news-front a {
    font-size: 12px;
    padding: 6px 16px;
  }

  .footer-column-mobile h4 {
    font-size: 18px;
    line-height: 24px;
  }
 .footer-mid {
    font-size: 11px;
    line-height: 16px;
  }

  .email-section button {
    padding: 8px 16px;
    font-size: 12px;
  }

  .footer-end .searches h4 {
    font-size: 16px;
  }

  .footer-end .searches a {
    font-size: 12px !important;
  }


}
